.section {
  padding-top: 30px;
  padding-bottom: 30px;
}


.product {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.product-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}
