.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  h1 {
    font-size: 36px;
    margin: 0;
    padding: 10px;
  }
  
  h2 {
    font-size: 24px;
  }
  .product_section .heading_container {
    margin-bottom: 25px;
    margin-left: 30px;
  }
  
  .product_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
  }
  
  .product_section .box .img-box {
    width: 100%;
    height: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 15px;
  }
  
  .product_section .box .img-box img {
    height: 175px;
    max-width: 100%;
  }
  
  
  
  
  .product_section .box .detail-box {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  
  .product_section .box .product_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .product_section .box .star_container {
    color: #f2b01e;
  }
  
  .why_us_section {
    position: relative;
  }
  
  .why_us_section .heading_container {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .why_us_section .box {
    margin-top: 25px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    padding: 25px 15px;
  }
  
  .why_us_section .box .img-box {
    height: 45px;
  }
  
  .why_us_section .box .img-box img {
    height: 100%;
    -webkit-filter: brightness(0);
            filter: brightness(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .why_us_section .box .detail-box {
    margin-top: 15px;
  }
  
  .why_us_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .why_us_section .box .detail-box a {
    color: #3a4468;
    font-weight: 600;
  }
  
  .why_us_section .box .detail-box a:hover {
    color: #f3c93e;
  }
  
  .why_us_section .box:hover .img-box img {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  
  